body {
  margin: 0;
  padding: 0;
}

header {
  height: 150px;
  margin-bottom: 25px;
  background-color: gray;
}

h1 {
  margin: 0;
  color: white;
  font-size: 45px;
  padding-top: 32px;
  font-weight: bold;
}

section {
  margin: 20px;
  width: 300px;
  height: 300px;
  display: inline-block;
}

span {
  margin: 20px;
  padding: 15px;
  display: block;
  color: white;
  font-size: 25px;
  background-color: rgb(101, 180, 211);
}

div {
  width: 850px;
  margin: 45px;
  position: absolute;
  display: inline-block;
}

footer {
  height: 100px;
  background-color: gray;
}

.foot {
  margin: 10;
  color: white;
  padding-top: 25px;
  margin-left: 15px;
  font-size: 25px;
}
