body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px);
  padding: 20px;
  margin-top: 72px;
  margin-left: 274px;
}

.grid-container > div {
  border: 1px solid black;
}

.item1 {
  grid-column: 1 / 3;
  font-size: 19px;
}

.item9 {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

p {
  text-align: center;
  position: relative;
  width: max-content;
}

.item9 > p {
  transform: rotate(-90deg);
  top: 67px;
  right: 48px;
}

.item10 {
  grid-column: 5 / 7;
}

.item10 > p {
  top: 62px;
  right: -34px;
}

.item11 {
  grid-column: 7 / 8;
  grid-row: 2 / 4;
}

.item11 > p {
  transform: rotate(90deg);
  top: 97px;
  right: -20px;
}

.item12 {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  background-color: rgb(230, 186, 43);
  font-size: 14px;
  padding: 0px 10px 0 5px;
}

.item18 {
  grid-column: 5 / 8;
  float: left;
  display: flex;
}

.div {
  display: inline-block;
  width: 50%;
}

.div01 {
  display: inline-block;
  width: 50%;
}

.item18 > .div > p {
  top: -12px;
  right: -4px;
  font-size: 13px;
}

.item18 > .div01 > p {
  top: 67px;
  right: -39px;
  font-size: 13px;
}

.item19 {
  grid-column: 1 / 4;
  float: left;
  display: flex;
}

.div02 {
  display: inline-block;
  width: 20%;
  border-right: 2px solid black;
  color: red;
}

.div03 {
  display: inline-block;
  width: 80%;
}

.item19 > .div02 > p {
  transform: rotate(-90deg);
  top: 24px;
}

.item21 {
  background-color: rgb(115, 233, 115);
}
